{% extends 'base.html' %} {% block content %}
<!-- https://getbootstrap.com/docs/5.3/components/card/ -->
{% for accommodation in accommodations %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="{{ accommodation.accommodation_image.url }}"
        class="card-img-top"
        alt="{{ accommodation.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ accommodation.name }}</h5>
        <p class="card-text">
        € {{ accommodation.price }} - {{ accommodation.city }}
        </p>
        <div class="d-flex justify-content-between">
          <a
            href="{% url 'accommodation_detail' pk=accommodation.id %}"
            class="btn btn-primary" style="background-color: #ed7966; border-color: #ed7966;"
            >More Details</a
          >
          <a
            href="{% url 'book_accommodation' pk=accommodation.id %}"
            class="btn btn-success" style="background-color: #141850; border-color: #141850;"
            >Book</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
  {% empty %}
 <div class="text-center"><h1>No accommodations available.</h1></div> 
  {% endfor %}

{% endblock %}
