{% extends 'base.html' %} {% block content %}
<h1>Accommodations List</h1>
<ul>
  {% for accommodation in accommodations %}
  <li>
    {{ accommodation.name }}
    <br />
    {{ accommodation.address }}
    <br />
    {{ accommodation.city }}
    <br />
    {{ accommodation.price }}
    <br />
    <br />
    <img src="{{ accommodation.accommodation_image.url }}" alt="" />
  </li>
  <!-- Add links/buttons to view details or book accommodation -->
  {% empty %}
  <li>No accommodations available.</li>
  {% endfor %}
</ul>
{% endblock %}
