<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="EireBnb" />
    <meta name="keywords" content="EireBnb, BnB, Booking, Reservation" />

    <title>EireBnb</title>
  </head>
  <body>
    <header>
      <!-- LOGO -->
      <!-- NAVIGATION BAR -->
    </header>
    <footer>
      <!-- EMAIL & ADDRESS SECTION -->
      <!-- SOCIAL MEDIA SECTION -->
    </footer>
  </body>
</html>
