{% extends 'base.html' %} {% block content %}
<div>
<div class="text-center mb-5"><h1>Booking History</h1></div>

<div class="container mt-3">
  {% if messages %} {% for message in messages %} {% if 'success_booking' in message.extra_tags %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% elif 'update_booking' in message.extra_tags %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif 'cancel_booking' in message.extra_tags %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endif %} {% endfor %} {% endif %}
</div>
{% for booking in bookings %}
<div class="row row-cols-1 g-4">
  <div class="col">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ booking.accommodation.accommodation_image.url }}"
            class="card-img-top"
            alt="{{ booking.accommodation.name }}"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{ booking.accommodation.name }}</h5>
            <p class="card-text">
              {{ booking.check_in_date }} - {{ booking.check_out_date }}
            </p>
            <p class="card-text">{{ booking.accommodation.city }}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-body d-flex flex-column">
            <a
              href="{% url 'update_booking' pk=booking.id %}"
              class="btn btn-primary mt-auto"
              style="background-color: #ed7966; border-color: #ed7966"
              >Update</a
            >
            <a
              href="{% url 'cancel_booking' pk=booking.id %}"
              class="btn btn-danger mt-2"
              style="background-color: #141850; border-color: #141850"
              >Cancel</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% empty %}
  <div class="text-center"><h1>No bookings found.</h1></div>
  {% endfor %}
</div>

{% endblock %}
